<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="style.css" />

    <script>
      function validateForm() {
        let password = document.forms["myForm"]["password"].value;
        let confirmPassword =
          document.forms["myForm"]["confirm-password"].value;

        if (!password) {
          alert("Please enter new password");
          return false;
        }
        if (!/^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$/.test(password)) {
          alert(
            "Password must contain one lowecase letter, one uppercase letter, one number and 8 characters minimum"
          );
          return false;
        }
        if (!confirmPassword) {
          alert("Please confirm new password");
          return false;
        }
        if (password !== confirmPassword) {
          alert("Passwords do not match");
          return false;
        }
        return true;
      }
    </script>
  </head>
  <body>
    <div
      style="
        margin-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
      "
    >
      <h1>Reset Password</h1>
      <form name="myForm" method="post" onsubmit="return validateForm()">
        New Password<br />
        <input type="password" name="password" size="25" />
        <br /><br />
        Confirm Password<br />
        <input type="password" name="confirm-password" size="25" /><br /><br />
        <input type="submit" value="Reset" style="float: right" />
      </form>
    </div>
  </body>
</html>
